/* this stylesheet contains css for specifically homepage and
and navigation with footer since they appear in all pages */
body{
    background-image: linear-gradient(to bottom, rgba(6, 33, 56, 0.616), rgba(20, 13, 58, 0.561)) ,url(/images/homebg.jpg);
}
.navigation ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}
.mainhome{
    background-image: linear-gradient(to bottom, rgba(6, 33, 56, 0.616), rgba(20, 13, 58, 0.561)) ,url(/images/homebg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.title{
    width: 100%;
    color: aliceblue;
}

.title h1{
 text-align: center;
 padding-top: 200px;
 font-size: 70px;
}

.title p{
    text-align: center;
    font-size: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(12, 37, 77, 0.76);
    color: white;
    text-align: center;
}
main{
    background-color: linear-gradient(to bottom, rgba(6, 33, 56, 0.616), rgba(20, 13, 58, 0.561)) ;
}